SandboxedApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
SandboxedApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
SandboxedApp.xcodeproj/project.xcworkspace/xcuserdata/Kevin.xcuserdatad/UserInterfaceState.xcuserstate
